<h1>Robots List</h1>

<p>Here you can find all of the available robots</p>

<!--<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>-->

<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let robot of robots">
      <td>{{ robot.id }}</td>
      <td>{{ robot.name }}</td>
      <td>{{ robot.price }}</td>
      <td>
        <a (click)="deleteRobot(robot.id)">
          <span class='glyphicon glyphicon-remove'></span>
        </a>
      </td>
  </tbody>
</table>

<div>
  <form (ngSubmit)="getRobot()">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" [(ngModel)]="id" name="id" required>
    </div>

    <button type="submit" class="btn btn-success">Get Robot</button>

  </form>
</div>

<div *ngIf="getSuccess">
  <p >Id: {{ robot.id }}</p>
  <p >Name: {{ robot.name }}</p>
  <p >Price: {{ robot.price }}</p>
</div>
